.grid-container{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
}
.output{
  grid-column: span 4;
}
.span-2{
  grid-column: span 2;
}
.output{
  background-color: black;
  padding: 15px;
 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.previous-operend{
  color:rgba(255, 255, 255, 0.67);
  font-size: 18px;
}
.current-operend{
  color: white;
  font-size: 30px;
}
button{
  padding: 3px 5px;
  border:2px solid #f44336;
  font-size: 20px;
}
button:hover,button:focus{
  background-color: rgba(255, 99, 71,0.3);
}